.main-container {
  display: flex;
 

}

.container {
  border:  1px solid #ccc;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 10px;
  background-color: aqua;
}

.task {
  border: 1px solid #000;
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 10px;
}